node-red/data/.flows.json.backup
[
    {
        "id": "e9891387af72915b",
        "type": "tab",
        "label": "SENSORES Y ACTUADORES",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f817f6a7671b1a08",
        "type": "tab",
        "label": "Keyrock",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7054fec8bee5107d",
        "type": "tab",
        "label": "Orion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92d8fd98132b13ea",
        "type": "tab",
        "label": "IoT Agent",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66697df425b4ad85",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a802ef2933ec375e",
        "type": "mqtt-broker",
        "name": "Hive MQ",
        "broker": "10.0.2.15",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "80e9a69f51797b3e",
        "type": "mqtt-broker",
        "name": "Hive MQ (Usuario y Contraseña)",
        "broker": "10.0.2.15",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5e11d29c103c79c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "10.0.2.15.crt",
        "keyname": "10.0.2.15.key",
        "caname": "rootCA.key",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "405695e50f5ae861",
        "type": "mqtt-broker",
        "name": "Hive MQ (SSL/TLS)",
        "broker": "10.0.2.15",
        "port": "8883",
        "tls": "a5e11d29c103c79c",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9dbb33cab06f6fad",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sco",
        "payload": "{\"o\":1}",
        "payloadType": "str",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "f9c12d53aa58f654"
            ]
        ]
    },
    {
        "id": "f9c12d53aa58f654",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "4f2e4c354c90d2b4",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "ventilacion/calidad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 1560,
        "wires": [
            [
                "e61fa2f5825d83d2",
                "ed3de45ee09cbe4e"
            ]
        ]
    },
    {
        "id": "e61fa2f5825d83d2",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "recevied data from Hive MQ (SSL/TLS)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1500,
        "wires": []
    },
    {
        "id": "54c59a41384deb2f",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 520,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1f60a620a429d993",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "calidad_aire",
                "v": "calidad_aire",
                "vt": "flow"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ventilacion/calidad",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1560,
        "wires": [
            [
                "aec29c4ea58a4058"
            ]
        ]
    },
    {
        "id": "aec29c4ea58a4058",
        "type": "function",
        "z": "e9891387af72915b",
        "name": "function 1",
        "func": "\nconst r = Math.random() * 10;\nlet value = msg.calidad_aire ?? 95\nif (r <4 && value > 0) {\n    value -= 1\n} else if (r < 7 && value < 100) {\n    value += 1\n}\nmsg.payload = {\"quality\": value}\nmsg.calidad_aire = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1560,
        "wires": [
            [
                "54c59a41384deb2f",
                "309ad082a26a3dc7"
            ]
        ]
    },
    {
        "id": "de3a9f18e4cb9a2a",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "flow variables",
        "props": [
            {
                "p": "iota_ip",
                "v": "10.0.2.15",
                "vt": "str"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "4061",
                "vt": "str"
            },
            {
                "p": "iota_puerto_datos",
                "v": "7896",
                "vt": "str"
            },
            {
                "p": "fiware_service",
                "v": "sco",
                "vt": "str"
            },
            {
                "p": "fiware_servicepath",
                "v": "/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "c6ec2cdea656ea3b"
            ]
        ]
    },
    {
        "id": "c6ec2cdea656ea3b",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "iota_ip",
                "pt": "flow",
                "to": "iota_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iota_puerto_gestion",
                "pt": "flow",
                "to": "iota_puerto_gestion",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iota_puerto_datos",
                "pt": "flow",
                "to": "iota_puerto_datos",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "flow",
                "to": "fiware_service",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "flow",
                "to": "fiware_servicepath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ed3de45ee09cbe4e",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "msg",
                "to": "fiware_service",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "msg",
                "to": "fiware_servicepath",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "iota_ip",
                "pt": "msg",
                "to": "iota_ip",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "iota_puerto_datos",
                "pt": "msg",
                "to": "iota_puerto_datos",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "api_key",
                "pt": "msg",
                "to": "1234567890",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "lamp001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1560,
        "wires": [
            [
                "eb66f4247665c72b"
            ]
        ]
    },
    {
        "id": "eb66f4247665c72b",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1150,
        "y": 1560,
        "wires": [
            [
                "003dec97bb626d6e"
            ]
        ]
    },
    {
        "id": "7cb1f0e17ed702a4",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1450,
        "y": 1580,
        "wires": [
            [
                "67516e659d6af62f"
            ]
        ]
    },
    {
        "id": "67516e659d6af62f",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "update devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1560,
        "wires": []
    },
    {
        "id": "003dec97bb626d6e",
        "type": "switch",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 1560,
        "wires": [
            [
                "67516e659d6af62f"
            ],
            [
                "7cb1f0e17ed702a4"
            ]
        ]
    },
    {
        "id": "c26cf72ba7ea3cd8",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "ACTUADORES",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6f261cdc1aaab2d",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get Ventilador Value",
        "info": "",
        "x": 150,
        "y": 380,
        "wires": []
    },
    {
        "id": "201c8b1f5b68e5de",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Ventilador:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "on",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "3d166ad6a0baed6d"
            ]
        ]
    },
    {
        "id": "3d166ad6a0baed6d",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 420,
        "wires": [
            [
                "21d4cf663b0ba120"
            ]
        ]
    },
    {
        "id": "21d4cf663b0ba120",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "2b556029e5e70aa2"
            ]
        ]
    },
    {
        "id": "a68d54f319a48fbc",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "flow variables",
        "props": [
            {
                "p": "orion_ip",
                "v": "192.168.41.20",
                "vt": "str"
            },
            {
                "p": "orion_puerto",
                "v": "1026",
                "vt": "str"
            },
            {
                "p": "fiware_service",
                "v": "sco",
                "vt": "str"
            },
            {
                "p": "fiware_servicepath",
                "v": "/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "d35503254f9cfbbd"
            ]
        ]
    },
    {
        "id": "d35503254f9cfbbd",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "orion_ip",
                "pt": "flow",
                "to": "orion_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "orion_puerto",
                "pt": "flow",
                "to": "orion_puerto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "flow",
                "to": "fiware_service",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "flow",
                "to": "fiware_servicepath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9c590dd38934232d",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "0445fc7ee1ce32f8",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "ventilacion/ventilador",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "e58937583f29cf3e"
            ]
        ]
    },
    {
        "id": "2b556029e5e70aa2",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ventilacion/ventilador",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 420,
        "wires": [
            [
                "9c590dd38934232d"
            ]
        ]
    },
    {
        "id": "e58937583f29cf3e",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 420,
        "wires": []
    },
    {
        "id": "795894b1ed9d887d",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "SENSORES",
        "info": "",
        "x": 130,
        "y": 1460,
        "wires": []
    },
    {
        "id": "467a12e2553d6a31",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get Molino  Value",
        "info": "",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "cd1984e83e0341f4",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Molino:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "on",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "b0ca9a4b96193de7"
            ]
        ]
    },
    {
        "id": "b0ca9a4b96193de7",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 540,
        "wires": [
            [
                "bed907ceb34a25b5"
            ]
        ]
    },
    {
        "id": "bed907ceb34a25b5",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "9463bf0ce5ee8aaf"
            ]
        ]
    },
    {
        "id": "ffd72757e6e26215",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "86b4e09808f0a2d2",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "electricidad/molino",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 540,
        "wires": [
            [
                "a881ccb1e93ee783"
            ]
        ]
    },
    {
        "id": "9463bf0ce5ee8aaf",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "electricidad/molino",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "ffd72757e6e26215"
            ]
        ]
    },
    {
        "id": "a881ccb1e93ee783",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 540,
        "wires": []
    },
    {
        "id": "f7c0378a1f8e0ca8",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get Bateria Activated  Value",
        "info": "",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "630acc758e67b8ee",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Bateria:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "on",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "aee7e0c9640a795a"
            ]
        ]
    },
    {
        "id": "aee7e0c9640a795a",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 680,
        "wires": [
            [
                "a8d0fe9cd42c5291"
            ]
        ]
    },
    {
        "id": "a8d0fe9cd42c5291",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "ed133a879d569d09"
            ]
        ]
    },
    {
        "id": "4ad8c127c5f5e365",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "0f3650a0799d972c",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "electricidad/bateria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 680,
        "wires": [
            [
                "93c074dbfb72a642"
            ]
        ]
    },
    {
        "id": "ed133a879d569d09",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "electricidad/bateria",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 680,
        "wires": [
            [
                "4ad8c127c5f5e365"
            ]
        ]
    },
    {
        "id": "93c074dbfb72a642",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 680,
        "wires": []
    },
    {
        "id": "089e1e44bbb2bc06",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get EPuerta Locked  Value",
        "info": "",
        "x": 170,
        "y": 780,
        "wires": []
    },
    {
        "id": "c7c8ee93a178d57b",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:EPuerta:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "locked",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "e83c5a446c25b99e"
            ]
        ]
    },
    {
        "id": "e83c5a446c25b99e",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 820,
        "wires": [
            [
                "9030ffd46c783b80"
            ]
        ]
    },
    {
        "id": "9030ffd46c783b80",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 820,
        "wires": [
            [
                "cb57718237f8cf14"
            ]
        ]
    },
    {
        "id": "55d48b120dbb5f89",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 820,
        "wires": []
    },
    {
        "id": "c0990b9b4f38e8d8",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "aislamiento/epuerta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 820,
        "wires": [
            [
                "cc8407d6ee5f06dd"
            ]
        ]
    },
    {
        "id": "cb57718237f8cf14",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aislamiento/epuerta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 820,
        "wires": [
            [
                "55d48b120dbb5f89"
            ]
        ]
    },
    {
        "id": "cc8407d6ee5f06dd",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 820,
        "wires": []
    },
    {
        "id": "7359e1f518c2b08f",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get IPuerta Locked  Value",
        "info": "",
        "x": 170,
        "y": 920,
        "wires": []
    },
    {
        "id": "9bf7ab622980292a",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:IPuerta:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "locked",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "bea3c848e428a59a"
            ]
        ]
    },
    {
        "id": "bea3c848e428a59a",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 960,
        "wires": [
            [
                "62e93be744283466"
            ]
        ]
    },
    {
        "id": "62e93be744283466",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 960,
        "wires": [
            [
                "cd7418f962852c4d"
            ]
        ]
    },
    {
        "id": "fd2d5fd4f7de30dd",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 960,
        "wires": []
    },
    {
        "id": "31c00662b84bc45a",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "aislamiento/ipuerta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 960,
        "wires": [
            [
                "219dcc8913c171a2"
            ]
        ]
    },
    {
        "id": "cd7418f962852c4d",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aislamiento/ipuerta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 960,
        "wires": [
            [
                "fd2d5fd4f7de30dd"
            ]
        ]
    },
    {
        "id": "219dcc8913c171a2",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 960,
        "wires": []
    },
    {
        "id": "8d301a249795d2a9",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get Hidraulico Compuertas  Value",
        "info": "",
        "x": 190,
        "y": 1040,
        "wires": []
    },
    {
        "id": "71c18c874b7baddb",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Compuertas:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "locked",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "28481ea6c3fae147"
            ]
        ]
    },
    {
        "id": "28481ea6c3fae147",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 1080,
        "wires": [
            [
                "1489da6934cc7a46"
            ]
        ]
    },
    {
        "id": "1489da6934cc7a46",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "afd09a685cacf560"
            ]
        ]
    },
    {
        "id": "380fa2519e8f6231",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2e6a16eab3cc3fd6",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "hidraulico/compuertas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 1080,
        "wires": [
            [
                "9ed418945207860b"
            ]
        ]
    },
    {
        "id": "afd09a685cacf560",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hidraulico/compuertas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1080,
        "wires": [
            [
                "380fa2519e8f6231"
            ]
        ]
    },
    {
        "id": "9ed418945207860b",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4cddbb62308f87c6",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get Hidraulico Top Nivel Agua  Value",
        "info": "",
        "x": 200,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5f568f73486c03e3",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:TNivel:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "locked",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "61bc3d52e2d09d4d"
            ]
        ]
    },
    {
        "id": "61bc3d52e2d09d4d",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "29dff6c273e54d05"
            ]
        ]
    },
    {
        "id": "29dff6c273e54d05",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 1220,
        "wires": [
            [
                "4cb816189dd5dce1"
            ]
        ]
    },
    {
        "id": "25fa512b351036e0",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 1220,
        "wires": []
    },
    {
        "id": "72d894c9ff5cf8d5",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "hidraulico/tnivel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 1220,
        "wires": [
            [
                "72b47b68da8ae439"
            ]
        ]
    },
    {
        "id": "4cb816189dd5dce1",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hidraulico/tnivel",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "25fa512b351036e0"
            ]
        ]
    },
    {
        "id": "72b47b68da8ae439",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f58da56e52fc4531",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Get Hidraulico Top Nivel Agua  Value",
        "info": "",
        "x": 200,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ae97bba96f85e15e",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:LNivel:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "locked",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "6de8b5cd6430ec59"
            ]
        ]
    },
    {
        "id": "6de8b5cd6430ec59",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 390,
        "y": 1340,
        "wires": [
            [
                "db67dff2aa8316ab"
            ]
        ]
    },
    {
        "id": "db67dff2aa8316ab",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 1340,
        "wires": [
            [
                "0d788d972f85b290"
            ]
        ]
    },
    {
        "id": "3577d13e286040f6",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 1000,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a1830f3c6cce3ea1",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "hidraulico/lnivel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 1340,
        "wires": [
            [
                "9d2946528a137eb2"
            ]
        ]
    },
    {
        "id": "0d788d972f85b290",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hidraulico/lnivel",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1340,
        "wires": [
            [
                "3577d13e286040f6"
            ]
        ]
    },
    {
        "id": "9d2946528a137eb2",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1340,
        "wires": []
    },
    {
        "id": "309ad082a26a3dc7",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "calidad_aire",
                "pt": "flow",
                "to": "calidad_aire",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1640,
        "wires": [
            [
                "c6a482ffef5c2df8"
            ]
        ]
    },
    {
        "id": "c6a482ffef5c2df8",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d278e01001b97fad",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Set Calidad Aire Value",
        "info": "",
        "x": 160,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c01730705b5a303a",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "electricidad/tbateria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 1800,
        "wires": [
            [
                "9b8c683eea13e0fa",
                "3b1a6f240059b429"
            ]
        ]
    },
    {
        "id": "9b8c683eea13e0fa",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "recevied data from Hive MQ (SSL/TLS)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1740,
        "wires": []
    },
    {
        "id": "e3dd98642a7b1ac3",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 520,
        "y": 1800,
        "wires": []
    },
    {
        "id": "ae23efd526b99d06",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "calidad_aire",
                "v": "temp_bateria",
                "vt": "flow"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "electricidad/tbateria",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1800,
        "wires": [
            [
                "81f33317742dbdc2"
            ]
        ]
    },
    {
        "id": "81f33317742dbdc2",
        "type": "function",
        "z": "e9891387af72915b",
        "name": "function 2",
        "func": "\nconst r = Math.random() * 10;\nlet value = msg.temp_bateria ?? 25\nif (r <4 && value > 0) {\n    value -= 1\n} else if (r < 7 && value < 100) {\n    value += 1\n}\nmsg.payload = {\"temp\": value}\nmsg.temp_bateria = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1800,
        "wires": [
            [
                "e3dd98642a7b1ac3",
                "b5282cbeddd4da32"
            ]
        ]
    },
    {
        "id": "3b1a6f240059b429",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "msg",
                "to": "fiware_service",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "msg",
                "to": "fiware_servicepath",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "iota_ip",
                "pt": "msg",
                "to": "iota_ip",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "iota_puerto_datos",
                "pt": "msg",
                "to": "iota_puerto_datos",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "api_key",
                "pt": "msg",
                "to": "1234567890",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "et001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1800,
        "wires": [
            [
                "32c1ca88841cd107"
            ]
        ]
    },
    {
        "id": "32c1ca88841cd107",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1150,
        "y": 1800,
        "wires": [
            [
                "7730349ce1930f07"
            ]
        ]
    },
    {
        "id": "f91b7c3b207ec0f9",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1450,
        "y": 1820,
        "wires": [
            [
                "58714a212f4b67d6"
            ]
        ]
    },
    {
        "id": "58714a212f4b67d6",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "update devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1800,
        "wires": []
    },
    {
        "id": "7730349ce1930f07",
        "type": "switch",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 1800,
        "wires": [
            [
                "58714a212f4b67d6"
            ],
            [
                "f91b7c3b207ec0f9"
            ]
        ]
    },
    {
        "id": "b5282cbeddd4da32",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp_bateria",
                "pt": "flow",
                "to": "temp_bateria",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1880,
        "wires": [
            [
                "17644e59ad807d94"
            ]
        ]
    },
    {
        "id": "17644e59ad807d94",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1940,
        "wires": []
    },
    {
        "id": "fdbb68f6e8067879",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Set Temperatura Bateria Value",
        "info": "",
        "x": 180,
        "y": 1760,
        "wires": []
    },
    {
        "id": "f7e73366ab3bec1a",
        "type": "mqtt in",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "electricidad/tbateria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "405695e50f5ae861",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 2040,
        "wires": [
            [
                "254049d49ee1e06b",
                "c44145badfdd9d5b"
            ]
        ]
    },
    {
        "id": "254049d49ee1e06b",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "recevied data from Hive MQ (SSL/TLS)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1980,
        "wires": []
    },
    {
        "id": "c717c2c2a952accb",
        "type": "mqtt out",
        "z": "e9891387af72915b",
        "name": "Hive MQ (SSL/TLS)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "405695e50f5ae861",
        "x": 520,
        "y": 2040,
        "wires": []
    },
    {
        "id": "7834bc5e8abe10a2",
        "type": "inject",
        "z": "e9891387af72915b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "calidad_aire",
                "v": "velocidad_viento",
                "vt": "flow"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "electricidad/tbateria",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 2040,
        "wires": [
            [
                "73a0f616d1b9a9d9"
            ]
        ]
    },
    {
        "id": "73a0f616d1b9a9d9",
        "type": "function",
        "z": "e9891387af72915b",
        "name": "function 3",
        "func": "\nconst r = Math.random() * 10;\nlet value = msg.velocidad_viento ?? 40\nif (r <4 && value > 0) {\n    value -= 1\n} else if (r < 7 && value < 100) {\n    value += 1\n}\nmsg.payload = {\"temp\": value}\nmsg.velocidad_viento = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2040,
        "wires": [
            [
                "c717c2c2a952accb",
                "aea0ed4217d2ae56"
            ]
        ]
    },
    {
        "id": "c44145badfdd9d5b",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "msg",
                "to": "fiware_service",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "msg",
                "to": "fiware_servicepath",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "iota_ip",
                "pt": "msg",
                "to": "iota_ip",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "iota_puerto_datos",
                "pt": "msg",
                "to": "iota_puerto_datos",
                "tot": "flow",
                "dc": true
            },
            {
                "t": "set",
                "p": "api_key",
                "pt": "msg",
                "to": "1234567890",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "et001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 2040,
        "wires": [
            [
                "1a2bd4a1abfdc495"
            ]
        ]
    },
    {
        "id": "1a2bd4a1abfdc495",
        "type": "http request",
        "z": "e9891387af72915b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1150,
        "y": 2040,
        "wires": [
            [
                "0023156a988f15b1"
            ]
        ]
    },
    {
        "id": "316e3d3d90203958",
        "type": "json",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1450,
        "y": 2060,
        "wires": [
            [
                "ac2a8388b98ad589"
            ]
        ]
    },
    {
        "id": "ac2a8388b98ad589",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "update devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 2040,
        "wires": []
    },
    {
        "id": "0023156a988f15b1",
        "type": "switch",
        "z": "e9891387af72915b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 2040,
        "wires": [
            [
                "ac2a8388b98ad589"
            ],
            [
                "316e3d3d90203958"
            ]
        ]
    },
    {
        "id": "aea0ed4217d2ae56",
        "type": "change",
        "z": "e9891387af72915b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad_viento",
                "pt": "flow",
                "to": "velocidad_viento",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 2120,
        "wires": [
            [
                "5c3bc1636077e0f3"
            ]
        ]
    },
    {
        "id": "5c3bc1636077e0f3",
        "type": "debug",
        "z": "e9891387af72915b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 2180,
        "wires": []
    },
    {
        "id": "fe27f8344f808535",
        "type": "comment",
        "z": "e9891387af72915b",
        "name": "Set Velocidad Viento Value",
        "info": "",
        "x": 170,
        "y": 2000,
        "wires": []
    },
    {
        "id": "99aebcd78c1fc320",
        "type": "inject",
        "z": "f817f6a7671b1a08",
        "name": "flow variables",
        "props": [
            {
                "p": "keyrock_ip",
                "v": "192.168.40.10",
                "vt": "str"
            },
            {
                "p": "keyrock_puerto",
                "v": "3443",
                "vt": "str"
            },
            {
                "p": "keyrock_oauth2_client_id",
                "v": "d6ef7f8c-7c70-4b59-8e3d-121bcd316d47",
                "vt": "str"
            },
            {
                "p": "keyrock_oauth2_client_secret",
                "v": "79f7a7b3-fe5c-47c5-a3e5-c69592e2a47a",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "8404c4b135ff9b53"
            ]
        ]
    },
    {
        "id": "8404c4b135ff9b53",
        "type": "change",
        "z": "f817f6a7671b1a08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "keyrock_ip",
                "pt": "flow",
                "to": "keyrock_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "keyrock_puerto",
                "pt": "flow",
                "to": "keyrock_puerto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "keyrock_oauth2_client_id",
                "pt": "flow",
                "to": "keyrock_oauth2_client_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "keyrock_oauth2_client_secret",
                "pt": "flow",
                "to": "keyrock_oauth2_client_secret",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fadcbbf828cf1cc6",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "OAuth2 Token",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "9fa076214d57930e",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "Get OAuth2 token",
        "info": "",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "659f04d50c1867aa",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "Get OAuth2 token: admin",
        "info": "",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "ba12e026049f5d61",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "Get OAuth2 token: admin (permanent)",
        "info": "",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "3f2e59a1bcd6c4d1",
        "type": "inject",
        "z": "f817f6a7671b1a08",
        "name": "execute request",
        "props": [
            {
                "p": "keyrock_ip",
                "v": "keyrock_ip",
                "vt": "flow"
            },
            {
                "p": "keyrock_puerto",
                "v": "keyrock_puerto",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_id",
                "v": "keyrock_oauth2_client_id",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_secret",
                "v": "keyrock_oauth2_client_secret",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "username=admin@test.com&password=1234567890&grant_type=password",
        "payloadType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "cf62b1799b4e981f"
            ]
        ]
    },
    {
        "id": "aa5edb83c0162e6d",
        "type": "inject",
        "z": "f817f6a7671b1a08",
        "name": "execute request",
        "props": [
            {
                "p": "keyrock_ip",
                "v": "keyrock_ip",
                "vt": "flow"
            },
            {
                "p": "keyrock_puerto",
                "v": "keyrock_puerto",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_id",
                "v": "keyrock_oauth2_client_id",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_secret",
                "v": "keyrock_oauth2_client_secret",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "username=admin@test.com&password=1234567890&grant_type=password&scope=permanent",
        "payloadType": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "cf62b1799b4e981f"
            ]
        ]
    },
    {
        "id": "cf62b1799b4e981f",
        "type": "http request",
        "z": "f817f6a7671b1a08",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{keyrock_oauth2_client_id}}}:{{{keyrock_oauth2_client_secret}}}@{{{keyrock_ip}}}:{{{keyrock_puerto}}}/oauth2/token",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "c24d14ef18de6f27"
            ]
        ]
    },
    {
        "id": "c24d14ef18de6f27",
        "type": "json",
        "z": "f817f6a7671b1a08",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "6076f249899ffa4b",
                "cb3fcb269600653a"
            ]
        ]
    },
    {
        "id": "6076f249899ffa4b",
        "type": "debug",
        "z": "f817f6a7671b1a08",
        "name": "get oauth2 token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb3fcb269600653a",
        "type": "change",
        "z": "f817f6a7671b1a08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oauth2-token",
                "pt": "global",
                "to": "payload.access_token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8478081292e8f75a",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "flow variables",
        "props": [
            {
                "p": "orion_ip",
                "v": "192.168.41.20",
                "vt": "str"
            },
            {
                "p": "orion_puerto",
                "v": "1026",
                "vt": "str"
            },
            {
                "p": "fiware_service",
                "v": "sco",
                "vt": "str"
            },
            {
                "p": "fiware_servicepath",
                "v": "/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "c4ae7c4d8859dada"
            ]
        ]
    },
    {
        "id": "c4ae7c4d8859dada",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "orion_ip",
                "pt": "flow",
                "to": "orion_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "orion_puerto",
                "pt": "flow",
                "to": "orion_puerto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "flow",
                "to": "fiware_service",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "flow",
                "to": "fiware_servicepath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f87742103c22f6",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "e62757f60f8d3c2c"
            ]
        ]
    },
    {
        "id": "2e4d60ebdee5e648",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "32b4139a92f2c460"
            ]
        ]
    },
    {
        "id": "32b4139a92f2c460",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "orion version",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "682ca218903955cf",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Check orion version",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "e62757f60f8d3c2c",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/version",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "2e4d60ebdee5e648",
                "b35a69dcf02647e9"
            ]
        ]
    },
    {
        "id": "76dec3080a64dc12",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Entities",
        "info": "",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "d21a6f6bcdf470ba",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Get entities",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "30be064efcb14deb",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "1af99b4c98de8c0c"
            ]
        ]
    },
    {
        "id": "1af99b4c98de8c0c",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "dc85eb069a6a3d69"
            ]
        ]
    },
    {
        "id": "dc85eb069a6a3d69",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "e75be13027181133"
            ]
        ]
    },
    {
        "id": "e75be13027181133",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "get entities",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "b4a9d1c78508b72f",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Delete entity",
        "info": "",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "733b944ba9b0bc95",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "Thing:lamp001",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "9b18efd711f33d37"
            ]
        ]
    },
    {
        "id": "9b18efd711f33d37",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "8daaa12956f641b6"
            ]
        ]
    },
    {
        "id": "6bdd20aaf07f69c1",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "6f053ac64b5daac7"
            ]
        ]
    },
    {
        "id": "6f053ac64b5daac7",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "delete entity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "8daaa12956f641b6",
        "type": "switch",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "6f053ac64b5daac7"
            ],
            [
                "6bdd20aaf07f69c1"
            ]
        ]
    },
    {
        "id": "02ea57af251f1453",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Entity attributes",
        "info": "",
        "x": 140,
        "y": 580,
        "wires": []
    },
    {
        "id": "1d9d726deb905f8d",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Get entity attribute: all",
        "info": "",
        "x": 200,
        "y": 620,
        "wires": []
    },
    {
        "id": "f41f1ebdd8610bf4",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "Thing:lamp002",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "9de147ce6994653c"
            ]
        ]
    },
    {
        "id": "9de147ce6994653c",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "9b42f963c4d62f5d"
            ]
        ]
    },
    {
        "id": "9b42f963c4d62f5d",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 660,
        "wires": [
            [
                "b597fe798f1f88dd"
            ]
        ]
    },
    {
        "id": "b597fe798f1f88dd",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "get entity attribute: all",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "4cdb27e29c6be2d8",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Get entity attribute: on",
        "info": "",
        "x": 200,
        "y": 740,
        "wires": []
    },
    {
        "id": "b61e5a09fce7be13",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Lamp:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "on",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "af20204629072774"
            ]
        ]
    },
    {
        "id": "287761bfbe953e9a",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 610,
        "y": 780,
        "wires": [
            [
                "de6f6f7b709321d4"
            ]
        ]
    },
    {
        "id": "de6f6f7b709321d4",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 780,
        "wires": [
            [
                "0193fa992c255b5d"
            ]
        ]
    },
    {
        "id": "0193fa992c255b5d",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "get entity attribute: on",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 780,
        "wires": []
    },
    {
        "id": "af20204629072774",
        "type": "trigger",
        "z": "7054fec8bee5107d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 780,
        "wires": [
            [
                "287761bfbe953e9a"
            ]
        ]
    },
    {
        "id": "b35a69dcf02647e9",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "fccff133fa43d20e",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:Calidad:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 940,
        "wires": [
            [
                "eb32e90e33b68cd6"
            ]
        ]
    },
    {
        "id": "8019be669ba7835e",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:Ventilador:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ed70522b54eeb45a",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:Viento:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "70edb664b865141b",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:Molino:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "67a85bbba4c3912d",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:Bateria:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "0b608e27d66ffcbc",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:TBateria:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "43d42e339efdc124",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:EPuerta:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "f78099bf149aebe1",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:IPuerta:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "eb4a6881d65a4077",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:SIncendios:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "554efe3c00ce6d2b",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:Compuertas:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "0ec9c658ab7b0b4b",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:TNivel:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "d039760c91b7aa79",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "urn:ngsi-ld:LNivel:001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "94cce532fb8b4d84",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "Thing:lamp001",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 1320,
        "wires": [
            [
                "fccff133fa43d20e",
                "8019be669ba7835e",
                "ed70522b54eeb45a"
            ]
        ]
    },
    {
        "id": "eb32e90e33b68cd6",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 930,
        "y": 1320,
        "wires": [
            [
                "b1839476860cd220"
            ]
        ]
    },
    {
        "id": "73295e939a63b903",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1270,
        "y": 1360,
        "wires": [
            [
                "2e5e29e1e655f38f"
            ]
        ]
    },
    {
        "id": "2e5e29e1e655f38f",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "delete entity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b1839476860cd220",
        "type": "switch",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 1320,
        "wires": [
            [
                "2e5e29e1e655f38f"
            ],
            [
                "73295e939a63b903"
            ]
        ]
    },
    {
        "id": "afda95cebe7746db",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "flow variables",
        "props": [
            {
                "p": "iota_ip",
                "v": "192.168.42.10",
                "vt": "str"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "4061",
                "vt": "str"
            },
            {
                "p": "iota_puerto_datos",
                "v": "7896",
                "vt": "str"
            },
            {
                "p": "fiware_service",
                "v": "sco",
                "vt": "str"
            },
            {
                "p": "fiware_servicepath",
                "v": "/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "7a94521ccf179fd6"
            ]
        ]
    },
    {
        "id": "7a94521ccf179fd6",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "iota_ip",
                "pt": "flow",
                "to": "iota_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iota_puerto_gestion",
                "pt": "flow",
                "to": "iota_puerto_gestion",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iota_puerto_datos",
                "pt": "flow",
                "to": "iota_puerto_datos",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "flow",
                "to": "fiware_service",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "flow",
                "to": "fiware_servicepath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f4c27a7741969a",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Services",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "16c338400db86c19",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Get services",
        "info": "",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "a69434ddc5e040ea",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "10f08a66cf41e5b5"
            ]
        ]
    },
    {
        "id": "10f08a66cf41e5b5",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "dfe50a4f024c0c11"
            ]
        ]
    },
    {
        "id": "dfe50a4f024c0c11",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "6f7381788c9295a7"
            ]
        ]
    },
    {
        "id": "6f7381788c9295a7",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "get services",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "c157c73d38697fe2",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Create services",
        "info": "",
        "x": 180,
        "y": 300,
        "wires": []
    },
    {
        "id": "d98453ced16c3a00",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"services\":[{\"apikey\":\"1234567890\",\"cbroker\":\"https://192.168.42.20:1026\",\"entity_type\":\"Thing\",\"resource\":\"/iot/json\"}]}",
        "payloadType": "json",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "bcb967bbe5180d32"
            ]
        ]
    },
    {
        "id": "bcb967bbe5180d32",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "13e8d9d188e778ea"
            ]
        ]
    },
    {
        "id": "8c99d36725dfef8e",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "61b84aa178332fca"
            ]
        ]
    },
    {
        "id": "61b84aa178332fca",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "create services",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "13e8d9d188e778ea",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "61b84aa178332fca"
            ],
            [
                "8c99d36725dfef8e"
            ]
        ]
    },
    {
        "id": "1f6be9ff9e76f8ee",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete service",
        "info": "",
        "x": 170,
        "y": 620,
        "wires": []
    },
    {
        "id": "8f8bd3fb4a121d10",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "resource",
                "v": "/iot/json",
                "vt": "str"
            },
            {
                "p": "api_key",
                "v": "1234567890",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "f5251f619e6f3e0d"
            ]
        ]
    },
    {
        "id": "f5251f619e6f3e0d",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services/?resource={{{resource}}}&apikey={{{api_key}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "2091039f17f2fcc4"
            ]
        ]
    },
    {
        "id": "56381319bfcdbe75",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 700,
        "wires": [
            [
                "b79f69b92cd07dcb"
            ]
        ]
    },
    {
        "id": "b79f69b92cd07dcb",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "delete service",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "2091039f17f2fcc4",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 660,
        "wires": [
            [
                "b79f69b92cd07dcb"
            ],
            [
                "56381319bfcdbe75"
            ]
        ]
    },
    {
        "id": "3ffc03a4698aa4bb",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Devices",
        "info": "",
        "x": 110,
        "y": 780,
        "wires": []
    },
    {
        "id": "864320f45b85e04f",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Get devices",
        "info": "",
        "x": 170,
        "y": 820,
        "wires": []
    },
    {
        "id": "92bdc6e458edf227",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "b8741209fb59e72f"
            ]
        ]
    },
    {
        "id": "b8741209fb59e72f",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/devices",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 860,
        "wires": [
            [
                "16f5721e7bbd7477"
            ]
        ]
    },
    {
        "id": "16f5721e7bbd7477",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 860,
        "wires": [
            [
                "b96cc9d6823ff655"
            ]
        ]
    },
    {
        "id": "b96cc9d6823ff655",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "get devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "55e6da5ea007dff7",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Create devices",
        "info": "",
        "x": 180,
        "y": 940,
        "wires": []
    },
    {
        "id": "b09fb42b25c80308",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"devices\":[{\"device_id\":\"vc001\",\"entity_name\":\"urn:ngsi-ld:Calidad:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"quality\",\"type\":\"Number\"}]},{\"device_id\":\"vv001\",\"entity_name\":\"urn:ngsi-ld:Ventilador:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"on\",\"type\":\"Boolean\"}]},{\"device_id\":\"ev001\",\"entity_name\":\"urn:ngsi-ld:Viento:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"speed\",\"type\":\"Number\"}]},{\"device_id\":\"em001\",\"entity_name\":\"urn:ngsi-ld:Molino:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"on\",\"type\":\"Boolean\"}]},{\"device_id\":\"eb001\",\"entity_name\":\"urn:ngsi-ld:Bateria:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"on\",\"type\":\"Boolean\"}]},{\"device_id\":\"et001\",\"entity_name\":\"urn:ngsi-ld:TBateria:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"temp\",\"type\":\"Number\"}]},{\"device_id\":\"ae001\",\"entity_name\":\"urn:ngsi-ld:EPuerta:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"locked\",\"type\":\"Boolean\"}]},{\"device_id\":\"ai001\",\"entity_name\":\"urn:ngsi-ld:IPuerta:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"locked\",\"type\":\"Boolean\"}]},{\"device_id\":\"as001\",\"entity_name\":\"urn:ngsi-ld:SIncendios:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"alarm\",\"type\":\"Boolean\"}]},{\"device_id\":\"hc001\",\"entity_name\":\"urn:ngsi-ld:Compuertas:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"locked\",\"type\":\"Boolean\"}]},{\"device_id\":\"hnt001\",\"entity_name\":\"urn:ngsi-ld:TNivel:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"locked\",\"type\":\"Boolean\"}]},{\"device_id\":\"hnb001\",\"entity_name\":\"urn:ngsi-ld:LNivel:001\",\"entity_type\":\"Thing\",\"transport\":\"HTTPS\",\"attributes\":[{\"name\":\"locked\",\"type\":\"Boolean\"}]}]}",
        "payloadType": "json",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "910e41bf82b438a0"
            ]
        ]
    },
    {
        "id": "910e41bf82b438a0",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/devices",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "5a924d66d96828e6",
                "ef703bfbfa4f22d5"
            ]
        ]
    },
    {
        "id": "e7b76bb6f5b7392b",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1020,
        "wires": [
            [
                "57ca771fa2d33763"
            ]
        ]
    },
    {
        "id": "57ca771fa2d33763",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "create devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 980,
        "wires": []
    },
    {
        "id": "5a924d66d96828e6",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 980,
        "wires": [
            [
                "57ca771fa2d33763"
            ],
            [
                "e7b76bb6f5b7392b"
            ]
        ]
    },
    {
        "id": "fe690796cfab3f25",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete devices",
        "info": "",
        "x": 180,
        "y": 1100,
        "wires": []
    },
    {
        "id": "02585d670356c2aa",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "lamp001",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 1180,
        "wires": [
            [
                "ae02c784ab5505f5"
            ]
        ]
    },
    {
        "id": "ae02c784ab5505f5",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/devices/{{{device_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "9fccb76d487e1355"
            ]
        ]
    },
    {
        "id": "0fd8bff55fa49e4e",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1240,
        "wires": [
            [
                "307ab2c17874330c"
            ]
        ]
    },
    {
        "id": "307ab2c17874330c",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "delete device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1200,
        "wires": []
    },
    {
        "id": "9fccb76d487e1355",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1200,
        "wires": [
            [
                "307ab2c17874330c"
            ],
            [
                "0fd8bff55fa49e4e"
            ]
        ]
    },
    {
        "id": "190fba59b83122fa",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete device: lamp001",
        "info": "",
        "x": 200,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1d00429a9d2c90c5",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "lamp002",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 1220,
        "wires": [
            [
                "ae02c784ab5505f5"
            ]
        ]
    },
    {
        "id": "11a0fbe2030b62e6",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete device: lamp002",
        "info": "",
        "x": 200,
        "y": 1260,
        "wires": []
    },
    {
        "id": "469b25b5a007d452",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Update devices",
        "info": "",
        "x": 180,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9447ebf1741a1cac",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "1234567890",
                "vt": "str"
            },
            {
                "p": "device_id",
                "v": "lamp001",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"o\":0}",
        "payloadType": "json",
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "a979b20a7b5672ec"
            ]
        ]
    },
    {
        "id": "a979b20a7b5672ec",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 1440,
        "wires": [
            [
                "bcd885fa6993b402"
            ]
        ]
    },
    {
        "id": "c01e70fc451af416",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1480,
        "wires": [
            [
                "20b49813fd8b3f91"
            ]
        ]
    },
    {
        "id": "20b49813fd8b3f91",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "update devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1440,
        "wires": []
    },
    {
        "id": "bcd885fa6993b402",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1440,
        "wires": [
            [
                "20b49813fd8b3f91"
            ],
            [
                "c01e70fc451af416"
            ]
        ]
    },
    {
        "id": "6e0fa1035c157295",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Update device lamp001: set on to 0",
        "info": "",
        "x": 240,
        "y": 1380,
        "wires": []
    },
    {
        "id": "0b0be8ae90f3ff06",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "1234567890",
                "vt": "str"
            },
            {
                "p": "device_id",
                "v": "lamp001",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "rejectUnauthorized",
                "v": "false",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"o\":1}",
        "payloadType": "json",
        "x": 200,
        "y": 1460,
        "wires": [
            [
                "a979b20a7b5672ec"
            ]
        ]
    },
    {
        "id": "5a116cb68991e0e7",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Update device lamp001: set on to 1",
        "info": "",
        "x": 240,
        "y": 1500,
        "wires": []
    },
    {
        "id": "0676e8974314834c",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "1234567890",
                "vt": "str"
            },
            {
                "p": "device_id",
                "v": "lamp002",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\":0}",
        "payloadType": "json",
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "32dbbe4b64bcb3df"
            ]
        ]
    },
    {
        "id": "32dbbe4b64bcb3df",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 1640,
        "wires": [
            [
                "a5967ce22ebdec24"
            ]
        ]
    },
    {
        "id": "a09a2d87a00a243d",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1680,
        "wires": [
            [
                "165ee383cfc8dc52"
            ]
        ]
    },
    {
        "id": "165ee383cfc8dc52",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "update devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1640,
        "wires": []
    },
    {
        "id": "a5967ce22ebdec24",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1640,
        "wires": [
            [
                "165ee383cfc8dc52"
            ],
            [
                "a09a2d87a00a243d"
            ]
        ]
    },
    {
        "id": "f484a019722523a7",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Update device lamp002: set on to 0",
        "info": "",
        "x": 240,
        "y": 1580,
        "wires": []
    },
    {
        "id": "c8a67eb65b249f95",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "1234567890",
                "vt": "str"
            },
            {
                "p": "device_id",
                "v": "lamp002",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\":1}",
        "payloadType": "json",
        "x": 200,
        "y": 1660,
        "wires": [
            [
                "32dbbe4b64bcb3df"
            ]
        ]
    },
    {
        "id": "f7c6aeeaa4101a3b",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Update device lamp002: set on to 1",
        "info": "",
        "x": 240,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d1b393f505c05540",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Inject permanent key to service",
        "info": "",
        "x": 230,
        "y": 460,
        "wires": []
    },
    {
        "id": "3396a78f4d1baf2f",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "resource",
                "v": "/iot/json",
                "vt": "str"
            },
            {
                "p": "api_key",
                "v": "1234567890",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t    \"cbroker\": \"https://192.168.42.20:1026\",\t    \"trust\": $globalContext(\"oauth2-token\")\t}",
        "payloadType": "jsonata",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "7fdc4439958bdb13"
            ]
        ]
    },
    {
        "id": "7fdc4439958bdb13",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services/?resource={{{resource}}}&apikey={{{api_key}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 500,
        "wires": [
            [
                "3af0ac09d8e2fc51"
            ]
        ]
    },
    {
        "id": "184d09ddccd6a54f",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 540,
        "wires": [
            [
                "1f0ea1c816ef4e66"
            ]
        ]
    },
    {
        "id": "1f0ea1c816ef4e66",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "inject permanent key to service",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "3af0ac09d8e2fc51",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "1f0ea1c816ef4e66"
            ],
            [
                "184d09ddccd6a54f"
            ]
        ]
    },
    {
        "id": "ef703bfbfa4f22d5",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 920,
        "wires": []
    },
    {
        "id": "a81d3b5dc582f44b",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "1234567890",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "8ed633444144507b",
                "42f4fa61ff6c5da5",
                "a9d6394f969abd77",
                "baaf49c287c2603e",
                "e35b8cf389b68690",
                "271dbb24f6c54b5a",
                "0b9dfb727a320863",
                "692da0ba0f351fd9",
                "595694dc534b4ac5",
                "c31dc995def4fde1",
                "a7e27477b0510288",
                "8afc857a0710eed6"
            ]
        ]
    },
    {
        "id": "2ef6ee7c5c8fd52a",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "a5e11d29c103c79c",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 830,
        "y": 2180,
        "wires": [
            [
                "788a9a7395a1a13b"
            ]
        ]
    },
    {
        "id": "e19b650824b3b37f",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 2180,
        "wires": [
            [
                "b02e56ad3daa9ead"
            ]
        ]
    },
    {
        "id": "b02e56ad3daa9ead",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "update devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 2180,
        "wires": []
    },
    {
        "id": "788a9a7395a1a13b",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 2180,
        "wires": [
            [
                "b02e56ad3daa9ead"
            ],
            [
                "e19b650824b3b37f"
            ]
        ]
    },
    {
        "id": "8ed633444144507b",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "vc001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"quality\": 95}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1880,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "3b639b5376847252",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "SET INITIAL VALUES OF DEVICES",
        "info": "",
        "x": 220,
        "y": 1840,
        "wires": []
    },
    {
        "id": "42f4fa61ff6c5da5",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "vv001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\": \"false\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1940,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "a9d6394f969abd77",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "ev001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"speed\": \"50\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2000,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "baaf49c287c2603e",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "em001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\": \"false\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2060,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "e35b8cf389b68690",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "eb001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\": \"false\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2120,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "271dbb24f6c54b5a",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "et001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"temp\": 25}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2180,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "0b9dfb727a320863",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "ae001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"locked\": \"true\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2260,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "692da0ba0f351fd9",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "ai001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"locked\": \"true\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2320,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "595694dc534b4ac5",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "as001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"alarm\": \"false\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2380,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "c31dc995def4fde1",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "hc001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"locked\": \"false\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2440,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "8afc857a0710eed6",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "hnt001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"locked\": \"false\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2500,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "a7e27477b0510288",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "hnb001",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"locked\": \"false\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2560,
        "wires": [
            [
                "2ef6ee7c5c8fd52a"
            ]
        ]
    },
    {
        "id": "a37089732b370f96",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 3000,
        "wires": [
            [
                "845f5433b14df17c",
                "5e85a4a570939668",
                "6e3641af194c094d",
                "3a4c4c6ecbc9d2a2",
                "912ce13f2d439165",
                "eb07e5e71e87d221",
                "119add5390bf123d",
                "7c82b63e9f9f6a2a",
                "afaaa8db8bcfe2a9",
                "a293e0bcca0b6d05",
                "5402607a85c07d85",
                "fa81f74f50f9366b"
            ]
        ]
    },
    {
        "id": "f3b6a6387e49278d",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1110,
        "y": 2980,
        "wires": [
            [
                "7057db3ddc4f4344"
            ]
        ]
    },
    {
        "id": "7057db3ddc4f4344",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "update devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 2980,
        "wires": []
    },
    {
        "id": "c3bdbf1ff88b6113",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 2980,
        "wires": [
            [
                "7057db3ddc4f4344"
            ],
            [
                "f3b6a6387e49278d"
            ]
        ]
    },
    {
        "id": "845f5433b14df17c",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "vc001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2700,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "ebb4ad13c5d55596",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "DELETE ALL DEVICES",
        "info": "",
        "x": 140,
        "y": 2640,
        "wires": []
    },
    {
        "id": "5e85a4a570939668",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "vv001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2760,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "6e3641af194c094d",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "ev001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2820,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "3a4c4c6ecbc9d2a2",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "em001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2880,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "912ce13f2d439165",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "eb001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2940,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "eb07e5e71e87d221",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "et001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 3000,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "119add5390bf123d",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "ae001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 3080,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "7c82b63e9f9f6a2a",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "ai001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 3140,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "afaaa8db8bcfe2a9",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "as001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 3200,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "a293e0bcca0b6d05",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "hc001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 3260,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "fa81f74f50f9366b",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "hnt001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 3320,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "5402607a85c07d85",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "hnb001",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 3380,
        "wires": [
            [
                "3bc0d37393eda8b2"
            ]
        ]
    },
    {
        "id": "3bc0d37393eda8b2",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/devices/{{{device_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 810,
        "y": 2980,
        "wires": [
            [
                "c3bdbf1ff88b6113"
            ]
        ]
    }
]